<a href="https://colab.research.google.com/github/Leessunyyoung/Leessunyyoung.github.io/blob/master/python_02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

In [ ]:
import antigravity

In [ ]:
antigravity

In [ ]:
import keyword
keyword.kwlist

In [ ]:
len(keyword.kwlist)

35

In [ ]:
print('hello world')

hello world

## 접근제어자
단일 언어 스코어(_)  -> protected  
두개 언어 스코어(__)  -> private

In [ ]:
#들여쓰기
a =10; b = 20
if(a == 10) and \
  (b == 20) :
      print("ok")
else :
  print("not ok")

ok

In [ ]:
pen = ko= 100
print(pen)
print(ko)

100
100

In [ ]:
language = "korea"
body = "tag"
print(language,body)

korea tag

In [ ]:
a = 1
a = eval('a + 4')
print(a)

5

In [ ]:
a = eval('"BlockDMask" + "blog"')
print(f"1. eval('\"BlockDMask\"' + '\" blog\"') : {a}")

1. eval('"BlockDMask"' + '" blog"') : BlockDMaskblog

### mutable -> 변경가능    immutable -> 변경불가능
#### int, float, bool, str, tuple, unicode 는 immutable
#### list(리스트), set(집합), dict(사전형) 은 mutable

##type()
python에서는 모든 값을 type()함수를 통해 자료형을 확인 할 수 있다.

In [ ]:
type(5) #int  
type(85.3) # float
type([1,5,8]) # list
type((2,6,7)) #tupple

### dir()
#### 자료형의 내장함수를 검색할 수 있다

In [ ]:
#dir(str)
dir(int)

### help
#### 자료형에서 제공하는 메소드 사용법을 검색

In [ ]:
help(str.index)

In [ ]:
#Number
data = 1 + 2j
data.real
data.imag

2.0

#### 수치 연산 함수
#### abs(x) 절대값
#### divmod(x,y)  (x // y, x% y)쌍을 구한다
#### pow(x,y)
#### max()
#### min()
#### sum()

In [ ]:
abs(-3.6) #3.6
#divmod(3,5) #(0,3)

3.6

In [ ]:
import sys
sys.maxsize

9223372036854775807

### 문자열 슬라이싱
#### [시작:끝+1:단계]

In [ ]:
animal ='frog'
print(animal[1])

r

In [ ]:
animal ='frog'
print(animal[1:3])

ro

In [ ]:
animal ='frog'
print(animal[0:3:2])

fo

In [ ]:
s_val = "hello python!"

'hlopto!'

In [ ]:
s_val[::2] ##hlopto!
s_val[::-1]##!nohtyp olleh

'!nohtyp olleh'

In [ ]:
s_val='win' * 3
print(s_val) #winwinwin

winwinwin

In [ ]:
s = 'hello python!'
s1 = 'H' + s[1:]
print(s1) #Hello python!

Hello python!

In [ ]:
'python' in s

True

In [ ]:
input("3+2?")

3+2?5

'5'

In [ ]:
a = input("첫 번째정수 입력: ")
b = input ("두 번째정수 입력: ")
c = int(a)+int(b) #input->스트링으로 받아들이기 때문에 int로 변경
print(c)

첫 번째정수 입력: 3
두 번째정수 입력: 5
8

In [ ]:
'Hello,{0}{1}'.format("python","script,3.6") #'{인덱스}'.format(값)

'Hello,pythonscript,3.6'

In [ ]:
hp1 = '010'
hp2 = '2531'
hp3 = '9234'
print(hp1,hp2,hp3,sep='-') # sep -> 'seperator'

010-2531-9234

In [ ]:
print('korea'.lower()) # lower() : 문자열 내 모든 대문자를 모두 소문자(a lowercase letter)로 변환
print('korea'.upper()) #  upper() :  문자열 내 모든 소문자를 모두 대문자(a uppercase letter)로 변환
print('KOREA'.swapcase()) # swapcase() : 문자열 내 소문자는 대문자로 변환, 대문자는 소문자로 변환
print('We Are The World'.title()) #title() : 문자열을 제목 형식(titlecased)에 맞게 시작은 대문자로, 나머지는 소문자로 변환
print('We Are The World'.capitalize()) #  capitalize() : 문자열 내 첫번째 문자를 대문자로 변환하고, 나머지는 모두 소문자로 변환

korea
KOREA
korea
We Are The World
We are the world

In [ ]:
print('KORea'.islower())
print('korea'.islower())
print("KORea".isupper())
print("KOREA".isupper())

False
True
False
True

In [ ]:
print('we are the world'.find('are'))
print('we are the world'.find('WORLD'))
print('we are the world'.index('are'))
print('we are the world'.index('world'))

3
-1
3
11

In [ ]:
print('we are the world'.join('**'))

*we are the world*

In [ ]:
print('we are'.isalnum())
print('weare'.isalnum())
print("we123".isalnum())
print('we123'.isdecimal())
print('123'.isdecimal())

False
True
True
False
True

In [ ]:
l_val5=['apple','banana',100,200]
l_val5[0:2] =[100]
print(l_val5) #[100, 100, 200]

[100, 100, 200]

In [ ]:
l_val8 =[3,6,9]
#l_val8[1] =['red','green'] #[3, ['red', 'green'], 9]
l_val8[1:1] =['red','green'] #[3, 'red', 'green', 6, 9]
l_val8

[3, 'red', 'green', 6, 9]

In [ ]:
l_val9 = [2,4,6,8]
l_val9[:2] = [-1,-2,-3,-4]
l_val9

[-1, -2, -3, -4, 6, 8]

In [ ]:
a=['foo','bar',4,5]
x,y,z,w=a
print(x,y,z,w)

foo bar 4 5

In [8]:
a10 = [1,2,3,4,5]
a10.append(3) #[1, 2, 3, 4, 5, 3]
a10.insert(3,7) #[1, 2, 3, 7, 4, 5, 3]
a10.pop(3)#[1, 2, 3, 4, 5, 3]
print(a10.index(1)) #0
print(a10.count(3))

0
2

In [25]:
l_val9 = ['red','green','blue','white','black']
print(l_val9.append("orange"))
print(l_val9)
print(l_val9.extend(['yello','aqua']))
l_val9.extend('purple')
print(l_val9)
l_val9.remove("e")
print(l_val9)
l_val9.pop()
print(l_val9)
print(l_val9.index("blue"))
print(l_val9.count("white"))
print(l_val9.sort())
print(l_val9)
print(l_val9.reverse())
print(l_val9)
l_val10 = l_val9.copy()
print(l_val10)

None
['red', 'green', 'blue', 'white', 'black', 'orange']
None
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p']
2
1
None
['aqua', 'black', 'blue', 'green', 'orange', 'p', 'p', 'r', 'red', 'u', 'white', 'yello']
None
['yello', 'white', 'u', 'red', 'r', 'p', 'p', 'orange', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'p', 'orange', 'green', 'blue', 'black', 'aqua']

In [26]:
a = ['red','blue']
b = a
print(a,b)

['red', 'blue'] ['red', 'blue']

In [28]:
a =[['red','green']]
b = a.copy()
print(a,b)
b[0][0] ='black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]

In [30]:
import copy
a =[['red','green']]
b = copy.deepcopy(a)
print(a,b)
b[0][0] ='black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

In [33]:
def test():
  return 2,3
print(test())

(2, 3)

In [37]:
t_val=(10,20,30)
t_val #(10, 20, 30)
type(t_val) #tuple

tuple

In [44]:
t_val2=(1)
type(t_val2) #int
t_val2=(1,) #데이터가 한개 일때는 반드시 쉼표(,)가 있어야한다
t_val2=1, #괄호는 없어도 쉼표(,)는 있어야 한다.
type(t_val2) #tuple

tuple

In [50]:
t_val5 = (5,10,15,20,25)
len(t_val5) #데이터의 개수를 리턴 5 
t_val5[0] #0인덱스 요소를 리턴 5

5

In [53]:
t_val5[-1] #25
t_val5[0:2] # (5,10)
t_val5[::2] #(5, 15, 25) 2개씩 건너띄기

(5, 15, 25)

In [56]:
t_val5 +t_val5 + t_val5 #(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)
t_val5 + (30,35) #(5, 10, 15, 20, 25, 30, 35)
t_val5 * 3 #(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

In [59]:
5 in t_val5 #True

True

In [62]:
t_val6=(1,2,3,2,2,3)
t_val6.count(2) #3
t_val6.index(2) #1
t_val6.index(2,2) #3

3

In [64]:
t_val7 = ('python','hello!!')
t_val8 = (t_val7,(1,2,3))
t_val8

(('python', 'hello!!'), (1, 2, 3))

In [65]:
t_val9 = (10,20,30)
l,m,n = t_val9
print(l,m,n) #10,20,30

10 20 30

In [66]:
t_val10 = ((1,2),(3,4))
(x1,y1),(x2,y2) =t_val10
(x1,y1) # (1,2)
(x2,y2) # (3,4)

(1, 2)

In [68]:
t_val12 = (1,2,3,4,5)
a,*b = t_val12
print(a,b) #1 [2, 3, 4, 5]
print(type(a),type(b)) #int list

1 [2, 3, 4, 5]
<class 'int'> <class 'list'>

In [71]:
*a,b = t_val12
print(a,b) #[1, 2, 3, 4] 5
a,b,*c = t_val12
print(a,b,c) #1 2 [3, 4, 5]

[1, 2, 3, 4] 5
1 2 [3, 4, 5]

In [ ]:
a,*b,*c = t_val12 #->error *기호는 한번만 가능

#### 튜플과 리스트의 공통점
##### 임의의 객체를 저장할 수 있다는 것과 순서자료형이다

#### 튜플과 리스트의 차이점
##### 튜플은 변경 불가능한 순서(sequence)자료형이다
##### 튜플은 함수의 가변 인수를 지원한다.

In [74]:
t_val13 = (1,2,3,4,5)
l_val = list(t_val13)
l_val[0] = 100
l_val #[100, 2, 3, 4, 5]
type(l_val) #list

list

In [76]:
t_val14 = tuple(l_val)
t_val14 #(100, 2, 3, 4, 5)
type(t_val14) #tuple

tuple

In [78]:
#반드시 튜플을 사용하는 3가지 경우
def calc(a,b):
  return a+b,a * b
x,y =calc(5,4)
print(x,y) #9,20

9 20